.footer {
  background: linear-gradient(to bottom, #5524B7, #380B60);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.socials {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 24px;
  font-size: 24px;
}

.socials a {
  color: rgba(255, 255, 255, 0.7);
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.socail-icons{
    color: rgb(0, 0, 0);
}

.socials a:hover {
  color: #ffffff;
  transform: translateY(-3px);
}
